<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sff.rbacdemo.system.mapper.DeptMapper">
  <resultMap id="deptMap" type="com.sff.rbacdemo.system.entity.Dept">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="DEPT_ID" jdbcType="DECIMAL" property="deptId" />
    <result column="PARENT_ID" jdbcType="DECIMAL" property="parentId" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="ORDER_NUM" jdbcType="DECIMAL" property="orderNo" />
  </resultMap>
  
  <update id="changeToTop" parameterType="java.util.List">
  	update t_dept set PARENT_ID = 100000 where DEPT_ID in ( select a.DEPT_ID from (
  	(select DEPT_ID from t_dept where PARENT_ID in
  	<foreach collection="list" item="deptId" index="index" open="(" close=")" separator=",">
  		#{deptId}
  	</foreach>
  	) ) a )
  </update>
    <select id="selectAll" resultType="com.sff.rbacdemo.system.entity.Dept">
        select * from t_dept order by DEPT_ID
    </select>
</mapper>