<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sff.rbacdemo.system.mapper.UserMapper">

    <select id="findUserWithDept" resultType="com.sff.rbacdemo.system.entity.User"
            parameterType="com.sff.rbacdemo.system.entity.User">
        select u.user_id userId,u.username,u.email,u.mobile,u.status,u.crate_time crateTime,
        u.gender,d.dept_name deptName from t_user u
        left join t_dept d on(u.dept_id = d.dept_id)
        where 1=1
        <if test="username != null and username != ''">
            AND u.username = #{username}
        </if>
        <if test="deptId != null and deptId != ''">
            AND d.dept_id = #{deptId}
        </if>
        <if test="gender != null and gender != ''">
            AND u.gender = #{gender}
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        order by u.user_id
    </select>

    <select id="findUserWithRole" resultType="com.sff.rbacdemo.system.dto.UserWithRole">
        select u.user_id userId,u.username,u.dept_id deptId,u.email,u.mobile,
        u.status,u.ssex,ur.role_id roleId from t_user u
        left join t_user_role ur on (u.user_id = ur.user_id)
        where u.user_id = #{userId}
    </select>

    <select id="getUserInfo" resultType="com.sff.rbacdemo.system.dto.UserInfoDTO" parameterType="java.lang.Long">
        select u.user_id userId, u.real_name realName, u.username userName, u.avatar,
        ur.role_id roleId, r.role_code roleCode, r.role_name roleName, r.remark remark
		from
		t_user u
        left join
		t_user_role ur on (u.user_id = ur.user_id)
        left join
		t_role r on (ur.role_id = r.role_id)
        where u.user_id = #{userId}
    </select>

</mapper>