<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sff.rbacdemo.system.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.sff.rbacdemo.system.entity.UserRole">
    <result column="USERNAME" jdbcType="DECIMAL" property="userName" />
    <result column="ROLE_CODE" jdbcType="DECIMAL" property="roleCode" />
  </resultMap>
  <delete id="deleteByUserName" parameterType="java.lang.String">
    delete from t_user_role where USERNAME = #{userName}
  </delete>
  <delete id="deleteByRoleCode" parameterType="java.lang.String">
    delete from t_user_role where ROLE_CODE = #{roleCode}
  </delete>
</mapper>